.hero-bg {
    background-image: url(/bg-1.svg);
    background-repeat: repeat;
    background-size: 40px 40px;
    background-position: 0 13px;
    opacity: 0.1;
}

.clip-image {
    clip-path: polygon(13% 18%, 18% 13%, 21% 8%, 21% 0, 100% 0, 100% 100%, 0 100%, 0 21%, 7% 20%);
}

.line-pattern {
    background: repeating-linear-gradient(-55deg,
            #0b1121,
            #0b1121 10px,
            #242c4b 5px,
            #242c4b 15px);
}

.style-section-bg {
    background-image: url(/2nd-bg.svg);
    background-repeat: repeat;
    background-size: 40px 40px;
    background-position: 0 13px;
    opacity: 0.1;
}

.custom-dot-list-style{
    margin-top: 50px;
}